.main{
    flex-grow: 1;
    padding: 1em;
    max-width: 800px;
}

@media screen and (max-width: 660px){
    .main{
        padding: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }
}
