.sidebarCard{
    background-color: var(--card-bg);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--radius-lg);
    max-height: 100px;
    width: 100%;
    position: relative;
}

button.sidebarCard {
    text-align: left;
    line-height: 1.5rem;
}

button:hover.sidebarCard:hover {
    background-color: var(--card-bg);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.2);
    transition: all 0.2s;
}

.sidebarCard h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebarCard p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconButton {
    width: 24px;
    height: 24px;
    padding: 0;
    opacity: 0.2;
    transition: color 0.2s, opacity 0.2s;

    position: absolute;
    top: 10px;
    right: 10px;
}

.iconButton:hover {
    opacity: 0.5;
}

.sidebarCard:not(:hover) .iconButton{
    display: none;
}

@media screen and (max-width: 660px){
    .sidebarCard:not(:hover) .iconButton{
        display: block;
    }
}
