@import "style/vars.css";
@import "style/themes/light.css";
@import "style/themes/dark.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--focus);
}

input {
  background-color: var(--card-bg);
  color: var(--text)
}

input::placeholder {
  color: var(--placeholder-text)
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  height: 100vh;
  min-width: 320px;
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  line-height: 1.2
}

input {
  border: none;
}

button {
  color: var(--text);
  border: none;
  border-radius: var(--radius-sm);
  padding: 0.6em 1.2em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button);
  cursor: pointer;
  transition: border-color 0.2s;
  line-height: 1em;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

button:not(:disabled):hover {
  background-color: var(--button-hover);
}
